body {
    font-family: monospace;
}

.container {
    margin: 0 auto;
    width: 575px;
    display: flex;
    justify-content: space-between;
    padding: 69px 82px 82px 69px;
    /* background-color: #1B244A; */
    /* background-color: #0C4A6E; */
    /* background-color: #78350F; */
    border-radius: 10px;
}

h2 {
    font-family: verdana;
    font-size: 40px;
    color: #EEEEEE;
    margin-top: 0%;
}

h3 {
    font-size: 90px;
    color: #F94F6D;
    background-color: black;
    padding: 30px 22px 30px 22px;
    border-radius: 5px;
    margin: 0%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

button {
    border: 3px solid #9AABD8;
    color: #9AABD8;
    width: 25%;
    padding: 13px 9px 13px 9px;
    font-size: 20px;
    color: #9AABD8;
    background-color: #1B244A;
    border-radius: 5px;
    font-weight: 400;
    cursor: pointer;
}

.home,
.guest {
    width: 40%;
    text-align: center;
}

.leader-guest,
.leader-home {
    color: white;
    font-family: verdana;
    font-size: 40px;
    margin-bottom: 0%;
}